# 导入包并读取数据

In [1]:
# 包导入
import pandas as pd
import numpy as np
import tsfresh as tsf
from tsfresh import extract_features, select_features
from tsfresh.utilities.dataframe_functions import impute

In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics import f1_score

import os
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [2]:
np.__version__

'1.19.5'

In [3]:
# 数据读取
data_train = pd.read_csv("train.csv")
data_test_A = pd.read_csv("testA.csv")

print(data_train.shape)
print(data_test_A.shape)

(100000, 3)
(20000, 2)

In [4]:
data_train.head()

   id                                  heartbeat_signals  label
0   0  0.9912297987616655,0.9435330436439665,0.764677...    0.0
1   1  0.9714822034884503,0.9289687459588268,0.572932...    0.0
2   2  1.0,0.9591487564065292,0.7013782792997189,0.23...    2.0
3   3  0.9757952826275774,0.9340884687738161,0.659636...    0.0
4   4  0.0,0.055816398940721094,0.26129357194994196,0...    2.0

In [7]:
data_test_A.head()

       id                                  heartbeat_signals
0  100000  0.9915713654170097,1.0,0.6318163407681274,0.13...
1  100001  0.6075533139615096,0.5417083883163654,0.340694...
2  100002  0.9752726292239277,0.6710965234906665,0.686758...
3  100003  0.9956348033996116,0.9170249621481004,0.521096...
4  100004  1.0,0.8879490481178918,0.745564725322326,0.531...

# 数据预处理

In [8]:
# 对心电特征进行行转列处理，同时为每个心电信号加入时间步特征time
train_heartbeat_df = data_train["heartbeat_signals"].str.split(",", expand=True).stack()
train_heartbeat_df = train_heartbeat_df.reset_index()
train_heartbeat_df = train_heartbeat_df.set_index("level_0")
train_heartbeat_df.index.name = None
train_heartbeat_df.rename(columns={"level_1":"time", 0:"heartbeat_signals"}, inplace=True)
train_heartbeat_df["heartbeat_signals"] = train_heartbeat_df["heartbeat_signals"].astype(float)

train_heartbeat_df

       time  heartbeat_signals
0         0           0.991230
0         1           0.943533
0         2           0.764677
0         3           0.618571
0         4           0.379632
...     ...                ...
99999   200           0.000000
99999   201           0.000000
99999   202           0.000000
99999   203           0.000000
99999   204           0.000000

[20500000 rows x 2 columns]

In [9]:
train_heartbeat_df.shape

(20500000, 2)

In [10]:
data_train.shape

(100000, 3)

In [11]:
# 将处理后的心电特征加入到训练数据中，同时将训练数据label列单独存储
data_train_label = data_train["label"]
data_train = data_train.drop("label", axis=1)
data_train = data_train.drop("heartbeat_signals", axis=1)
data_train = data_train.join(train_heartbeat_df)

data_train

          id  time  heartbeat_signals
0          0     0           0.991230
0          0     1           0.943533
0          0     2           0.764677
0          0     3           0.618571
0          0     4           0.379632
...      ...   ...                ...
99999  99999   200           0.000000
99999  99999   201           0.000000
99999  99999   202           0.000000
99999  99999   203           0.000000
99999  99999   204           0.000000

[20500000 rows x 3 columns]

In [ ]:
data_train[data_train["id"]==1]

    id  time  heartbeat_signals
1    1     0           0.971482
1    1     1           0.928969
1    1     2           0.572933
1    1     3           0.178457
1    1     4           0.122962
..  ..   ...                ...
1    1   200           0.000000
1    1   201           0.000000
1    1   202           0.000000
1    1   203           0.000000
1    1   204           0.000000

[205 rows x 3 columns]

# 使用 tsfresh 进行时间序列特征处理

In [ ]:
from tsfresh import extract_features

# 特征提取
train_features = extract_features(data_train, column_id='id', column_sort='time')
train_features

Feature Extraction:   0%|                                                                                                                                                                                            | 0/40 [00:00<?, ?it/s]

In [ ]:
from tsfresh.utilities.dataframe_functions import impute

# 去除抽取特征中的NaN值
impute(train_features)